/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
	@apply border-[3px];
}

.btn-primary-special {
	@apply btn-primary bg-primary-content  font-bold text-neutral hover:text-primary-content;
}

.btn-secondary-special {
	@apply btn-secondary bg-secondary-content  font-bold text-neutral hover:text-secondary-content;
}

.btn-neutral-special {
	@apply btn-outline btn-neutral font-bold text-neutral hover:text-neutral-content;
}
