/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
	@apply rounded-full;
}

/* override the default tailwind pulse animation (has to be a global style) */
@keyframes pulse {
	50% {
		opacity: 0;
	}
}
